nav {
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.body.active nav {
  background: #2B3844;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 80px;
}
.body.active .nav {
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo_icon {
  width: 30px;
  height: 30px;
}

.mode {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.added {
  width: 400px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.959);
  position: absolute;
  z-index: 999;
  top: 60px;
  display: none;
}

.added.active {
  right: 0;
  display: block;
}
.liked {
  width: 400px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.959);
  position: absolute;
  z-index: 999;
  top: 60px;
  display: none;
}

.liked.active {
  left: 0;
  display: block;
}

.box {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: white;
}

.box img {
  width: 50px;
}

.box .remove_btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.selected, .shop {
  position: relative;
  cursor: pointer;
}

nav span {
  position: absolute;
  top: -8px;
  left: -8px;
}